<table style="font-family: Plus Jakarta, sans-serif; background-color: #f3f2ef; border-collapse: collapse; line-height: 100% !important; margin: 0; padding: 0; width: 100% !important;" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f3f2ef">
<tbody>
<tr>
<td>
<table style="border-collapse: collapse; margin: auto; max-width: 650px; min-width: 320px; width: 100%;">
<tbody>
<tr style="height: 70px; background: radial-gradient(322.38% 1002.17% at 55.42% 12.71%, #FE9800 0%, #FE9800 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;">
<td valign="top" style="vertical-align: middle">
<p style="text-align: center; color: white; font-weight: 600; font-size: 24px; font-style: normal; display: table; margin: auto;">
<img style="width: 55px; height: 50px; vertical-align: middle" src="{easyreserv_logo}" alt="" />
<span style="display: inline-block; vertical-align: middle">EasyReserv</span>
</p>
</td>
</tr>
<tr>
<td valign="top">
<table style=" background-clip: padding-box; border-collapse: collapse; border-radius: 3px; color: #000000; font-family: Plus Jakarta, sans-serif; font-size: 13px; line-height: 20px; margin: 0 auto; width: 100%; " border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td valign="top">
<table style=" border: none; border-collapse: separate; font-size: 1px; height: 2px; line-height: 3px; width: 100%; " border="0" cellspacing="0" cellpadding="0">
<tbody>
<td style=" background-image: url({background}); background-size: cover; background-repeat: no-repeat; font-family: Plus Jakarta, sans-serif; line-height: 25px; padding: 30px 100px; " bgcolor="white">
<!-- <img style="width: 450px; height: 400px" src="{easyreserv_logo}" alt="" /> -->
<br />
<table style="background-clip: padding-box; border-collapse: collapse; border-radius: 3px; color: #000000; font-family: 'Helvetica Neue',Arial,sans-serif; font-size: 13px; line-height: 20px; margin: 0 auto; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td valign="top">
<table style="border: none; border-collapse: separate; font-size: 1px; height: 2px; line-height: 3px; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<td style="background-clip: padding-box; background-color: transparent; border-radius: 0px 0px 3px 3px; color: #000000; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 15px; line-height: 22px; overflow: hidden;" bgcolor="white">
<span style="font-family: helvetica neue,helvetica,arial,verdana,sans-serif; color: rgba(0, 0, 0, 0.7); line-height: 170%;"><span style="font-size: x-large;">{troubleSigningIn}</span></span>
<br />
<br />
<p><span class="m_-3034987773024482290content-header-text">{resettingYourPasswordIsEasy}</span>
</p>
<p><span class="m_-3034987773024482290content-header-text">{ignoreThisResetEmail}</span></p>
<p>
<span class="m_-3034987773024482290content-header-text">{clickOnTheButtonBelowToChangePassword}</span></p>
<br />
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td><a style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; font-size: 16px; font-weight: 600; border-radius: 5px; width: 250px; height: 45px; text-align: center; line-height: 45px; background: linear-gradient(102.05deg, #FE9800 22.73%, #FE9800 123.46%); display: inline-block;" href="{reset_password_link}" target="_blank" rel="noopener">{changeYourPassword}</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p style="line-height: 1.5; text-align: left!important;" align="left">
&nbsp;</p>
<p style="margin-bottom: 1em; text-align: center;">
<span style="font-weight: 400;"><em>({pleaseUseThisLink})</em></span></p>
<p style="line-height: 1.5; margin: 0px 0px 17px; text-align: center;" align="left">
<em><a href="{reset_password_link}">{reset_password_link}</a></em></p>
<p style="line-height: 1.5; margin: 0 0 17px; text-align: left!important;" align="left">
<br /><br />{regards}<br /><span style="font-weight: 400;">{yourFriendsAtEasyReserv}</span>
</p>
</td>
</tr>
</tbody>
</table>
<p style=" text-align: center; margin: 40px 0px 0px 0px;">
<img style="width: 90px; height: 80px" src="{easyreserv_logo}" alt="" />
</p>
<p style=" text-align: center; margin: 0; font-size: 14px; padding: 0px 95px; color: #000000; ">
© {currentYear} Easyreserv.io, {allRightsReserved}.
</p>
</td>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>